TZ="UTC"
ROBOCHIMP_DATABASE_URL=postgresql://postgres:postgres@localhost:5436/robochimp_integration_test
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/osb_integration_test?connection_limit=20&pool_timeout=120
CLIENT_ID=111398433321891634
