* text eol=lf

# source code
*.json text
*.svg text
*.txt text
*.sh text

# git config
.gitattributes text
.gitignore text
.gitconfig text

# misc config
*.yaml text
*.yml text
.editorconfig text

*.md text
LICENSE text
AUTHORS text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
