* text eol=lf

# source code
*.json text
*.svg text
*.txt text
*.sh text

# git config
.gitattributes text
.gitignore text
.gitconfig text

# misc config
*.yaml text
*.yml text
.editorconfig text

*.md text
LICENSE text
AUTHORS text

*.ttf     -text diff
*.eot     -text diff
*.woff    -text diff
*.woff2   -text diff