services:
  db:
    image: postgres:16-alpine
    command: -c 'max_connections=5000'
    restart: always
    container_name: bso_database
    ports:
      - "5435:5435"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGPORT: 5435
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
    depends_on:
      - db
    environment:
      ROBOCHIMP_DATABASE_URL: postgresql://postgres:postgres@db:5435/robochimp_integration_test?connection_limit=10&pool_timeout=0&schema=public
      DATABASE_URL: postgresql://postgres:postgres@db:5435/bso_integration_test?connection_limit=10&pool_timeout=0&schema=public
      WAIT_HOSTS: db:5435

volumes:
  postgres_data:
