services:
  osb:
    image: postgres:16-alpine
    command: -c 'max_connections=1000'
    restart: always
    container_name: osb_database
    ports:
      - "5435:1234"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGPORT: 1234