services:
  db:
    image: postgres:16-alpine
    command: -c 'max_connections=1000'
    restart: always
    container_name: osb_database
    ports:
      - "5435:5435"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGPORT: 5435

  redis:
    image: redis:7-alpine
    container_name: osb_redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "no"]

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: build-run
    depends_on:
      - db
      - redis
    environment:
      ROBOCHIMP_DATABASE_URL: postgresql://postgres:postgres@db:5435/robochimp_integration_test?connection_limit=10&pool_timeout=0&schema=public
      DATABASE_URL: postgresql://postgres:postgres@db:5435/osb_integration_test?connection_limit=10&pool_timeout=0&schema=public
      REDIS_HOST: redis
      REDIS_PORT: 6379
      WAIT_HOSTS: db:5435,redis:6379
