services:
  osb:
    image: postgres:16-alpine
    command: -c 'max_connections=5000'
    restart: always
    container_name: osb_database
    ports:
      - "5435:1234"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGPORT: 1234

  redis:
    image: redis:alpine
    restart: always
    container_name: redis
    ports:
      - "6379:6379"
