@import "tailwindcss";
@import "./fonts.css";

.dark {
	--color-background: #0b080c;
	--color-text: #ffffff;
	--color-primary: var(--color-blood-orange);
}

.light {
	--color-background: white;
	--color-text: black;
	--color-primary: #242447;
}

body {
	--color-kickgreen: #53fc18;
	--color-blood-orange: oklch(0.64 0.22 32.24 / 1);
	--color-navy: oklch(0.22 0.06 238.76);
	--color-navy-2: oklch(0.29 0.03 247.1);
	--color-bright-blue: oklch(0.47 0.15 248.07);
	--color-bright-saturated-blue: oklch(0.39 0.19 263.55);
	--color-dark: #111117;

	/* background-color: var(--color-dark); */
	/* color: #f1f1f1; */

	--color-background: white;
	--color-text: black;
	--color-primary: #242447;

	color: var(--color-text);
	background-color: var(--color-background);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.1rem;
	/* font-family: "Cabin","Crimson Text", sans-serif; */
	font-family: "DMSansVariable", "Crimson Text", sans-serif;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

h1,
h2,
h3 {
	font-family: "DMSansVariable";
	font-weight: bold;
}

main {
	padding: 24px 32px;
}

header {
	font-family: "DMSansVariable";
}

.bg-primary {
	background-color: var(--color-primary);
}

.border-main {
	border: 2px solid hsl(215.97deg 100% 72.5% / 18%);
}

header {
	color: white;
}
