---
import authorsJson from '@data/authors.json';
import { Fragment } from 'preact';
const authors = authorsJson[Astro.props.id] || [];
const editURL = Astro.props.editUrl?.toString();
---

<footer class="sl-flex">
	{editURL && <a href={editURL} target="_blank" rel="noopener noreferrer" class="edit_this_page">Edit this page</a>}
	{editURL && authors.length > 0 && " / "}
	{authors.length > 0 && <div class="credits-list">Page edited by {authors.join(", ")}</div>}
</footer>

<style>
	footer {
		gap: .5rem;
		font-size: 12px;
	}
	.credits-list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
</style>