@import "tailwindcss";

@import "./custom-components.css";
@import "./markdown.css";
@import "./utils.css";
@import "./sidebar.css";
@import "./toc.css";

.site-title {
	color: light-dark(var(--dark-brown), #f4ddcb);
}

/* Inter Font */
:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		"liga" 1,
		"calt" 1;
	--sl-font: "Inter", sans-serif;
	--font-display: "Inter", sans-serif;
	--font-sans: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: "InterVariable", sans-serif;
		--sl-font: "InterVariable", sans-serif;
		--font-display: "InterVariable", sans-serif;
		--font-sans: "Inter", sans-serif;
	}
}

:root {
	font-optical-sizing: auto;
	color-scheme: light dark;

	--light-brown: #a3785e;
	--cream: #dcc4b1;
	--medium-brown: #31231c;
	--dark-brown: #1f1611;
	--verydark-brown: #100e0c;

	--sl-nav-pad-x: 1rem;
	--sl-font: "Inter", sans-serif;
	--sl-content-width: 55rem;
	--sl-color-hairline-light: rgba(0, 0, 0, 0);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root,
:root[data-theme="light"] {
	color-scheme: light;

	--sl-color-text: var(--dark-brown);
	--sl-color-text-accent: var(--light-brown);
	--sl-color-accent: var(--light-brown);
	--sl-icon-color: var(--dark-brown);
	--secondary-bg-color: var(--cream);
	--secondary-text-color: var(--dark-brown);
	--sl-color-accent-input: var(--cream);
	--sl-color-bg-input: var(--cream);
	--color-input-bg-hover: var(--light-brown);
	--sl-color-accent-low: #f4ddcb;
	--sl-color-accent-high: var(--dark-brown);
	--sl-color-bg-nav: #f1d2b2;
	--sl-color-white: #000000;
	--sl-color-gray-1: #000000;
	--sl-color-gray-2: #000000;
	--sl-color-gray-3: #d3b196;
	--sl-color-gray-4: #c09278;
	--sl-color-gray-5: #a3785e;
	--sl-color-gray-6: #7e5a45;
	--sl-color-black: #ffffff2c;
	--sl-color-bg-inline-code: #f0e4d8;

	--sl-color-bg: #f2eeea;
	--sl-color-bg-sidebar: var(--cream);

	--selected-page-bg: #f1d2b2;
	--selected-page-text: #000000;
	--sidebar-text-color: #150e06;
	--sidebar-header-text-color: var(--verydark-brown);

	--header-color: #513f2a;

	scrollbar-color: var(--cream) #14131367;
}

:root[data-theme="light"] .sidebar,
:root[data-theme="light"] #starlight__sidebar {
	background: var(--cream, #dcc4b1) !important;
}

:root[data-theme="dark"] {
	color-scheme: dark;
	--sl-color-text: #cda988;
	--sl-color-text-accent: #c88440;
	--sl-color-accent: #c88440;
	--sl-icon-color: var(--cream);
	--secondary-bg-color: #221f1e;
	--secondary-text-color: #ffffff;
	--sl-color-accent-input: #cda988;
	--sl-color-bg-input: var(--medium-brown);
	--color-input-bg-hover: #4b3529;
	--sl-color-accent-low: #4e2d1e;
	--sl-color-accent-high: #e5c9a8;
	--sl-color-bg-nav: #120a07;
	--sl-color-white: #dcc4b1;
	--sl-color-gray-1: #b8987a;
	--sl-color-gray-2: #a3785e;
	--sl-color-gray-3: #7e5a45;
	--sl-color-gray-4: #5d3f2e;
	--sl-color-gray-5: #3e2317;
	--sl-color-gray-6: #1f1611;
	--sl-color-black: #130e0b;
	--sl-color-bg-inline-code: #3d362f;

	--sl-color-bg: var(--verydark-brown);
	--sl-color-bg-sidebar: var(--dark-brown);

	--selected-page-bg: #0b0804;
	--selected-page-text: #f4dac3;
	--sidebar-text-color: var(--light-brown);
	--sidebar-header-text-color: var(--cream);

	--header-color: var(--cream);

	scrollbar-color: rgba(152, 106, 74, 0.525) #15120f;
}

.theme-toggle {
	fill: var(--sl-icon-color);
	color: var(--sl-icon-color);
	cursor: pointer;
}

body {
	background-color: var(--sl-color-bg);
}

starlight-menu-button > button {
	background-color: transparent;
}

.sl-container:where(.astro-7nkwcw3z) {
	--sl-content-margin-inline: 30px 0;
}

.main-pane {
	font-size: 14px;
}

.sl-markdown-content aside:not(.not-content),
.sl-markdown-content blockquote:not(:where(.not-content *)) {
	border-inline-start: 1px solid #ff4e00;
	background: #ff810038;
	border-radius: 8px;
	padding: 10px 20px;
}

.social-icons::after {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--header-color);
}

h1 {
	font-size: 3rem;
	line-height: 1.0833;
	letter-spacing: -0.03em;
}

.content-panel + .content-panel {
	border-top: 0;
}

.social-icons a {
	font-size: 1.7em;
}

.social-icons a[href*="github"] {
	font-size: 24px;
}

@media (min-width: 72.85rem) {
	:root {
		--sl-nav-pad-x: 1.5rem;
	}

	:root[data-theme="dark"] {
		--sl-nav-pad-x: 1.5rem;
	}

	.sidebar-pane {
		border-inline-end: none;
	}
}

.rehype-heading-wrapper .rehype-anchor-link {
	margin-inline-start: 8px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.rehype-heading-wrapper:hover .rehype-anchor-link {
	opacity: 1;
}

.rehype-anchor-link:focus {
	opacity: 1;
}

.rehype-heading-wrapper:not(:first-child):is(
		.rehype-level-h3,
		.rehype-level-h4,
		.rehype-level-h5
	) {
	margin-block-start: 2em;
}

.rehype-heading-wrapper:not(:first-child):is(.rehype-level-h2):not(
		.rehype-with-extra-margin
	) {
	margin-block-start: 3.75em;
}

[aria-labelledby="starlight__on-this-page"] ul li a {
	@apply pl-0;
}

starlight-tabs ul,
starlight-tabs ol {
	list-style-type: none !important;
	padding-inline-start: 0 !important;
}

.table-wrapper {
	@apply w-full block whitespace-normal overflow-x-auto;
}

.table-4-cols {
	@apply w-1/4;
}

.table-5-cols {
	@apply w-1/5;
}

.table-6-cols {
	@apply w-1/6;
}

body.DocSearch--active .c-help-widget,
body.DocSearch--active header .header {
	padding-right: 15px;
}

body.DocSearch--active .main-frame {
	padding-right: 15px;
}

ol + ol li aside,
ol + ol li blockquote {
	margin-inline-start: 20px;
}

.edit_this_page {
	color: var(--sl-color-text-accent);
}

.danger:where(.astro-ixkmpc6r) {
	--sl-badge-danger-bg: #b80e0e;
	--sl-badge-danger-border: #3b0d0d;
	--sl-badge-danger-text: #fff;
}

.input:focus,
.button:focus,
.input:focus-visible,
.button:focus-visible {
	outline: 2px solid var(--sl-color-accent-input);
	border-radius: 2px;
}

.input,
.button {
	background-color: var(--sl-color-bg-input);
	padding: 5px 10px;
}

.button {
	margin: 5px;
	border: 1px solid transparent;
	&:hover {
		background-color: var(--color-input-bg-hover);
		border: 1px solid var(--sl-color-accent-input);
	}
}

.input:disabled,
.button:disabled {
	background-color: rgba(128, 128, 128, 0.181);
	border-color: rgba(150, 150, 150, 0.249);
	color: rgba(150, 150, 150, 0.249);
}

:root[data-theme="dark"] .ca-complete {
	background: #223326 !important;
	color: #b8ffcc !important;
}

.ca-table td {
	vertical-align: top;
}
starlight-tabs {
	[role="tablist"] {
		text-transform: capitalize;
	}
}
