.sl-markdown-content ol,
.sl-markdown-content ul {
	list-style-type: disc;
	padding-inline-start: 40px;
}

.sl-markdown-content .table-2-cols {
	@apply w-1/2;
}

.sl-markdown-content td.table-3-cols,
.sl-markdown-content th.table-3-cols {
	@apply w-1/3;
}

.sl-markdown-content :is(th:first-child, td:first-child):not(:where(.not-content *)) {
	@apply pl-4;
}

.sl-markdown-content :is(th:last-child, td:last-child):not(:where(.not-content *)) {
	@apply pr-4;
}

.sl-markdown-content th {
	background-color: light-dark(var(--cream), var(--medium-brown));
	padding: 0.75rem 1rem;
	@apply font-bold;
}

.sl-markdown-content td {
	@apply text-sm;
}

.sl-markdown-content .injected {
	display: inline;
	gap: 8px;
	white-space: normal;
	margin-top: 0px;
}

.sl-markdown-content li > :last-child:not(li, ul, ol):not(a, strong, em, del, span, input, :where(.not-content *)) {
	margin-bottom: 0 !important;
}
