name: Integration Tests

on:
    push:
        branches:
            - master
            - bso
    pull_request:

jobs:
    test:
        name: Node v${{ matrix.node_version }} - ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                node_version: [18.12.0]
                os: [ubuntu-latest]

        steps:
            - name: Checkout Project
              uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node_version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node_version }}
                  cache: yarn
            - name: Restore CI Cache
              uses: actions/cache@v3
              with:
                  path: node_modules
                  key: ${{ runner.os }}-${{ matrix.node_version }}-${{ hashFiles(matrix.os == 'windows-latest' && '**\yarn.lock' || '**/yarn.lock') }}
            - name: Install Dependencies
              run: yarn --frozen-lockfile
            - name: Copy Configuration
              run: |
                  pushd src &&
                  cp config.example.ts config.ts &&
                  popd
            - name: Copy env
              run: cp .env.example .env 
            - name: Generate Prisma Client
              run: yarn gen
            - name: Build
              run: yarn build
            - name: Test
              run: yarn test:integration