name: Unit Tests

on:
    push:
        branches:
            - master
            - bso
    pull_request:

jobs:
    test:
        name: Node v${{ matrix.node_version }} - ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                node_version: [16.13.2, 16.14.0, 17.5.0]
                os: [ubuntu-latest, windows-latest]

        steps:
            - name: Checkout Project
              uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node_version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node_version }}
                  cache: yarn
            - name: Install Dependencies
              run: yarn --frozen-lockfile
            - name: Copy Configuration
              run: |
                  pushd src &&
                  cp config.example.ts config.ts &&
                  popd
            - name: Generate Prisma Client
              run: npx prisma generate
            - name: Test
              run: yarn test:unit
            - name: Upload coverage data to Codecov
              uses: codecov/codecov-action@v1